<%= form_with(model: trip) do |form| %>
  <% if trip.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
        <% trip.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :arrival_date, style: "display: block" %>
    <%= form.date_field :arrival_date %>
  </div>

  <div>
    <%= form.label :departure_date, style: "display: block" %>
    <%= form.date_field :departure_date %>
  </div>

  <div>
    <%= form.label :destination_city, style: "display: block" %>
    <%= form.text_field :destination_city %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
