<div id="<%= dom_id trip %>">
  <p>
    <strong>Arrival date:</strong>
    <%= trip.arrival_date %>
  </p>

  <p>
    <strong>Departure date:</strong>
    <%= trip.departure_date %>
  </p>

  <p>
    <strong>Destination city:</strong>
    <%= trip.destination_city %>
  </p>

  <p>
    <i>Added:</i>
    <%= local_time trip.created_at %> (DB: <%= trip.created_at %>)
  </p>

</div>
