<p style="color: green"><%= notice %></p>

<h1>Trips</h1>

<% if @result %>
  <p><strong><%= JSON.parse(@result) rescue nil %></strong></p>
<% end %>

<% if @trips %>
  <p><strong><%= @trips.to_sql %></strong></p>
<% end %>

<div id='buttons' style="padding: 5px; border: 1px solid blue;">
  <%= link_to "Clear", trips_path %>
  <%= link_to "Geo API Query", trips_path(geo_query: "seattle") %>
  <%= link_to "like Chicago", trips_path(query: "chicago") %>
  <%= link_to "Arriving on date", trips_path(date_query: "2022-11-01") %>
  <%= link_to "Geo near chicago", trips_path(near: "chicago") %>
</div>

<div id="trips">
  <% @trips.each do |trip| %>
    <%= render trip %>
    <p>
      <%= link_to "Show this trip", trip %>
    </p>
  <% end %>
</div>

<%= link_to "New trip", new_trip_path %>
