<!DOCTYPE html>
<html>
  <head>
    <title>Week3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <% if current_user %>
  Hi <%= current_user.email %>!
<br>
    <%= button_to "logout", destroy_user_session_path, method: :delete  %>
  <% else %>
<%= link_to "sign up/in", '/users/sign_up' %>
  <% end %>

  <ul>
    <li><%= link_to "Trips", trips_path %></li>
    <li><%= link_to "Shopping", products_path %></li>
    <li><%= link_to "Cart", carts_path %></li>
  </ul>

  <p>cart stuff</p>
  <ul>
    <li>UUID: <%= @cart.uuid %></li>
    <li>Created: <%= @cart.created_at %></li>
    <li>Items: <%= @cart.cart_entries.map {|e| e.product.name} %></li>
  </ul>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


    <%= yield %>
  </body>
</html>
